body {
    color: #EEEEEE;
    background-color: #414141;
    font-size: 18px;
}
  

h1 {
    font-size: 28px;
    padding: 50px;
    border: 1px solid #000000;
}

h2 {
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
}

.content {
    background-color: #212121;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-item {
    margin: auto;
    width: auto;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-around;
}

#wrapall {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact {
    font-family: 'Courier New', Courier, monospace;
}

/* unvisited link */
a:link {
color: #ccc;
}
/* visited link */
a:visited {
color: #095484;
}
/* mouse over link */
a:hover {
color: #8ebf42;
}
/* selected link */
a:active {
color: #800000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Desktop Styles*/
@media only screen and (min-width: 961px) {
    body {
      background-color: #262626; 
    }

    .content {
        flex-direction: row;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
      background-color: #cecece; 
    }

    .content {
        flex-direction: column;
    }
  }